/*
.highcharts-xaxis-grid .highcharts-grid-line {
    stroke-width: 2px;
    stroke-dasharray:5, 5;
}
.highcharts-yaxis-grid .highcharts-grid-line {
    stroke-width: 1px;
    stroke-dasharray:5, 5;
}
.highcharts-series{
    fill-opacity: 0.5;
}
*/